html,
body {
    height: 100%;

}
@keyframes example {
     from {opacity: 0;}
     to {opacity: 100;}
 }
.site-index,.site-about{
    background-color: #141823;
    font-family: 'Roboto', sans-serif;
    font-size: 1.2em;
    animation-name: example;
    animation-duration: 4s;
    color: white !important;
}
@keyframes top {
    from {margin-top: -50px;}
    to {margin-top: 0px ;}
}
.site-index .navbar,
.site-about .homebtn{
    animation-name: top;
    animation-duration: 2s;
}
.site-index a,
.site-about a{
    font-size: 1.5em;
    animation-name: example;
    animation-duration: 8s;
    color: white !important;
}
.site-index p,
.site-about p{
    font-size: 1.5em;
}
.site-index a:hover{
    color: rgba(255,255,255,0.5) !important;
}

.wrap {
    min-height: 100%;
    height: auto;
    margin: 0 auto -60px;
    padding: 0 0 60px;
}

.wrap > .container {
    padding: 70px 15px 20px;
}

.footer {
    height: 60px;
    background-color: #f5f5f5;
    border-top: 1px solid #ddd;
    padding-top: 20px;
}

.jumbotron {
    text-align: center;
    background-color: transparent;
}

.jumbotron .btn {
    font-size: 21px;
    padding: 14px 24px;
}

.not-set {
    color: #c55;
    font-style: italic;
}

/* add sorting icons to gridview sort links */
a.asc:after, a.desc:after {
    position: relative;
    top: 1px;
    display: inline-block;
    font-family: 'Glyphicons Halflings';
    font-style: normal;
    font-weight: normal;
    line-height: 1;
    padding-left: 5px;
}

a.asc:after {
    content: /*"\e113"*/ "\e151";
}

a.desc:after {
    content: /*"\e114"*/ "\e152";
}

.sort-numerical a.asc:after {
    content: "\e153";
}

.sort-numerical a.desc:after {
    content: "\e154";
}

.sort-ordinal a.asc:after {
    content: "\e155";
}

.sort-ordinal a.desc:after {
    content: "\e156";
}

.grid-view th {
    white-space: nowrap;
}

.hint-block {
    display: block;
    margin-top: 5px;
    color: #999;
}

.error-summary {
    color: #a94442;
    background: #fdf7f7;
    border-left: 3px solid #eed3d7;
    padding: 10px 20px;
    margin: 0 0 15px 0;
}
.blog-post{
    max-width: 700px;
    margin: auto;
}
.blog-post img{
    max-width: 100%;
    -webkit-box-shadow: -1px 3px 30px 0px rgba(0,0,0,0.75);
    -moz-box-shadow: -1px 3px 30px 0px rgba(0,0,0,0.75);
    box-shadow: -1px 3px 30px 0px rgba(0,0,0,0.75);
}
.navbar-brand img{
    max-height: 100%;
    margin: auto;
}
.navbar > .container .navbar-brand, .navbar > .container-fluid .navbar-brand{
    margin: 0;
}
.site-index .navbar.navbar-default{
    height: 80vh;
}
.wrap > .container{
    padding-top: 0;
}
.navbar-brand{
    width: 100%;
}
.navbar.navbar-default .container,.navbar-brand{
    height: 100%;
}
.site-index .navbar-header,
.site-about .navbar-header{
    width: 100%;
    height: 100%;
}
.site-index .navbar-default{
    background-color: transparent;
    border-color: transparent;
}
.homebtn{
    background-color: rgba(255,255,255,0.1);
    width: 100%;
}
.homebtn>a{
    display: table;
    margin: 0 auto;
    padding: 1% 0;
}
.aboutbtn{
    width: 100%;
    text-align: center;
    margin-bottom: 2%;
}
.aboutbtn>a:hover{
    text-decoration: none;
    opacity: 25;
}
.homebtn>a:hover{
    text-decoration: none;
    opacity: 25;
}
.navbar-nav{
    float: none;
    display: inline-block;
}
.site-index .collapse.navbar-collapse,
.site-about .collapse.navbar-collapse{
    text-align: center;
}
.site-index .navbar-toggle{
    display: none !important;
}
.about{
    max-width: 1000px;
    margin: auto;
}
.footer{
    border: none;
    padding: 0;
    background-color: transparent;
    text-align: center;
}

footer .container img{
    height: 3.5em;
}
#linkedchat .footer{
    opacity: 0;
    display: none !important;
}
.navbar.navbar-default{
    margin-bottom: 0;
}